<!-- <!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Homepage</h1>
  <a href="/SelfHelp"><button>Self help</button></a>
  <a href="/Locate"><button>Locator</button></a>
  <a href="/PushDB"><button>Sublit a query</button></a>
  <a href="/Sell"><button>Quote</button></a>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="./Styles.css/home.css">
</head>
<body>
  <nav>
    <div class="main-nav container">
      <a href="" >
        <img src="./Assets/sslogo.png" alt="" class="logo-img">
      </a>
      <div class="nav-links">
        <ul class="link-items">
          <li><a href="#Aboutus">About Us</a></li>  
          <li><a href="SelfHelp">Self-help</a></li>
          <li><a href="Locate">Store Locator</a></li>
          <li><a href="PushDB">Query Submission</a></li>
          <li><a href="Sell">Request A Quote</a></li>
        </ul>
      </div>
    </div> 
  </nav>
  <br>
  <br>
  <br>
  <br>
  <header>
    <div class="header-section container">
        <div class="header-left">
            <h1>About Us</h1>
            <h3>AI powered fully integrated customer service.</h3>
            <p>“ Customer support web app that offers AI powered chat-based assistance, YouTube video results, service center locations, and price prediction using custom ML model for phones/tablets. ”</p>
        </div>
        <div class="header-right">
          <img src="./Assets/phone.png" alt="">
        </div>
    </div>
  </header>
  <section>
    <div class="container self-section">
      <div class="self-left">
        <img src="./Assets/phonerepair.png" alt="">
      </div>
      <div class="self-right">
        <h1>Self-Help Analysis</h1>
        <!-- <h3>AI powered fully integrated customer service.</h3> -->
        <br>
        <p>“ Uses the problem prompt given by user to get Step-by-step instructions from GPT-3.5 Large Language model and top YouTube video results."</p>
        <br>
        <a href="SelfHelp" class="an">Try Now!!</a>
      </div>
    </div>
  </section>

  <section>
    <div class="container locate-section">
      <div class="locate-left">
        <h1>Locate A Store</h1>
        <br>
        <p>“ Get your problem fixed at a nearby store “</p>
        <br>
        <a href="Locate" class="an">Try Now!!</a>
      </div>
      <div class="locate-right">
        <img src="./Assets/store.png" alt="">
      </div>
    </div>
  </section>

  <section>
    <div class="container query-section">
      <div class="query-left">
        <img src="./Assets/query.png" alt="">
      </div>
      <div class="query-right">
        <h1>Query submission</h1>
        <br>
        <p>"Are you still having trouble solving your problem? 
          No worries, publish the problem prompt in the company's registry for manual assessment."</p>
        <br>
        <a href="PushDB" class="an">Try Now!!</a>
      </div>
    </div>
  </section>

  <section>
    <div class="container quote-section">
      <div class="quote-left">
        <h1>Request A Quote</h1>
        <!-- <h3>AI powered fully integrated customer service.</h3> -->
        <p>" With our custom ML model, you can now determine your product's resale value based on its specifications."</p>
        <br>
        <a href="Sell" class="an">Try Now!!</a>
      </div>
      <div class="quote-right">
        <img src="./Assets/pricing.png" alt="">
      </div>
    </div>
  </section>
  

  <section>
    <div class="container developer-section">
      <div class="developer-left">
          <img src="./Assets/contact.png" alt="">
      </div>
      <div class="developer-right">
        <h1>Developer Details</h1>
        <br>
        <div class="details ">
          <div class="aman">
            <p>Aman Sood</p>
            <p>soodaman92@gmail.com</p>
            <br>
            <div class="icons">
              <a href="https://www.linkedin.com/in/aman-sood-49b3aa247/"><img class="social-icons" src="./Assets/linkedin.png" alt="" width="20px">
              </a>
              <img class="social-icons" src="./Assets/instagram.png" alt="" width="20px">
              <img class="social-icons" src="./Assets/twitter.png" alt="" width="20px">  
            </div>
          </div>
          <!-- br -->
          <div class="anmol">
            <p>Anmol Tiwari</p>
            <p>oanmoltiwari7@gmail.com</p>
            <br>
            <div class="icons">
              <a href="https://www.linkedin.com/in/anmol-tiwari-0bbb14227/?trk=public_profile_browsemap&originalSubdomain=in"><img class="social-icons" src="./Assets/linkedin.png" alt="" width="20px">
              </a>
              <img class="social-icons" src="./Assets/instagram.png" alt="" width="20px">
              <img class="social-icons" src="./Assets/twitter.png" alt="" width="20px">  
            </div>


          </div>
        </div>
        <!-- <br> -->
      </div>
    </div>
  </section>
</body>
</html>
