* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #0F1320;
  }
  
  body {
    color: white;
  }
  .nav-toggle{
    display: none;
  }
  h1 {
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
  }
  
  h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  
  p {
    line-height: 1.4em;
  }
  
  h3 {
    line-height: 2em;
  }
  
  .container {
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    color: white;
  }
  
  ul {
    list-style: none;
  }
  
  /* Navbar Section */
  .main-nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .logo-img {
    width: 220px;
  }
  
  .nav-links {
    flex-basis: 730px;
  }
  
  .nav-links ul {
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-right: 20px;
  }

.results{
  display: flex;
  justify-content: center;
  align-items: center;
}
.f1{
  display: flex;
  
}
.f1 h1{
  margin-top: 15px;
}
.head-sec{
  margin-top: 60px;
  display: flex;
  gap: 20px;
}
.yimg{
  padding-top: 8px;
  margin-left: 20px;
}
.videot img{
  width: 245px;
  height: 163px;
  border-radius: 12px;
  border: 4px solid white;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.foot P {
  background-color: #54659C;
  display: flex;
  justify-content: center;
}

.foot-heading {
  padding-top: 6px;
}
@media screen and (max-width: 991px){
  .nav-toggle{
    display: block;
    margin-right: 20px;
  }
  .link-items li{
    display: none;
  }
  .logo-img{
    margin-top: 20px;
    margin-left: 20px;
  }  
}

