<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <script src="https://kit.fontawesome.com/6ad7fda697.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./Styles.css/home.css">
</head>

<body>
  <!-- Navbar Section -->
  <nav>
    <div class="main-nav container">
      <a>
        <img src="./Assets/sslogo.png" alt="" class="logo-img">
      </a>
      <div class="nav-links">
        <ul class="link-items">
          <li><a>About Us</a></li>
          <li><a >Self-help</a></li>
          <li><a >Store Locator</a></li>
          <li><a >Query Submission</a></li>
          <li><a >Request A Quote</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <!-- About Us Section -->
  <header>
    <div class="header-section container">
      <div class="header-left">
        <h1>About Us</h1>
        <h3>AI powered fully integrated customer service.</h3>
        <p>“ Customer support web app that offers AI powered chat-based assistance, YouTube video results, service center locations, and price prediction using custom ML model for phones/tablets. ”</p>
      </div>
      <div class="header-right">
        <img src="./Assets/phone.png" alt="">
      </div>
    </div>
  </header>
  <!-- Self Help Section -->
  <section>
    <div class="container self-section">
      <div class="self-left">
        <img src="./Assets/phonerepair.png" alt="">
      </div>
      <div class="self-right">
        <h1>Self-Help Analysis</h1>
        <br>
        <p>“ Uses the problem prompt given by user to get Step-by-step instructions from GPT-3.5 Large Language model and top YouTube video results."</p>
        <br>
        <div class="try1">
          <a  class="an">Try Now!!</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Locate a store section -->
  <section>
    <div class="container locate-section">
      <div class="locate-left">
        <h1>Locate A Store</h1>
        <br>
        <p>“ Get your problem fixed at a nearby store “</p>
        <br>
        <div class="try2">
          <a  class="an">Try Now!!</a>
        </div>
      </div>
      <div class="locate-right">
        <img src="./Assets/store.png" alt="">
      </div>
    </div>
  </section>
  <!-- Query Section -->
  <section>
    <div class="container query-section">
      <div class="query-left">
        <img src="./Assets/query.png" alt="">
      </div>
      <div class="query-right">
        <h1>Query submission</h1>
        <br>
        <p>"Are you still having trouble solving your problem?
          No worries, publish the problem prompt in the company's registry for manual assessment."</p>
        <br>
        <div class="try3">
          <a class="an">Try Now!!</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Quote Section -->
  <section>
    <div class="container quote-section">
      <div class="quote-left">
        <h1>Request A Quote</h1>
        <p>" With our custom ML model, you can now determine your product's resale value based on its specifications."</p>
        <br>
        <div class="try4">
          <a  class="an">Try Now!!</a>
        </div>
      </div>
      <div class="quote-right">
        <img src="./Assets/pricing.png" alt="">
      </div>
    </div>
  </section>

  <!-- Developer Section -->
  <section>
    <div class="container developer-section">
      <div class="developer-left">
        <img src="./Assets/contact.png" alt="">
      </div>
      <div class="developer-right">
        <h1>Developer Details</h1>
        <br>
        <div class="details ">
          <div class="aman">
            <p>Aman Sood</p>
            <p>soodaman92@gmail.com</p>
            <br>
            <div class="icons">
              <!-- lnks changes pending -->
              <a href="https://www.linkedin.com/in/aman-sood-49b3aa247/"><img class="social-icons" src="./Assets/linkedin.png" alt="" width="20px"></a>
              <a ><img class="social-icons" src="./Assets/instagram.png" alt="" width="20px"></a>
              <a ><img class="social-icons" src="./Assets/twitter.png" alt="" width="20px"> </a>
            </div>
          </div>
          <div class="anmol">
            <p>Anmol Tiwari</p>
            <p>oanmoltiwari7@gmail.com</p>
            <br>
            <div class="icons">
              <a href="https://www.linkedin.com/in/anmol-tiwari-0bbb14227/?trk=public_profile_browsemap&originalSubdomain=in"><img class="social-icons" src="./Assets/linkedin.png" alt="" width="20px"></a>
              <a href="https://instagram.com/oanmoltiwari7?igshid=ZDc4ODBmNjlmNQ=="><img class="social-icons" src="./Assets/instagram.png" alt="" width="20px"></a>
              <a href="https://twitter.com/oanmoltiwari7"><img class="social-icons" src="./Assets/twitter.png" alt="" width="20px"> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer/copyright section -->
  
</body>

</html>
