<!-- 
<html>
<head>
  <title>Predict</title>
</head>
<body>
  <h1>Predict</h1>
 <p><%=FinalData%></p>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <script src="https://kit.fontawesome.com/6ad7fda697.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./Styles.css/priceout.css">
  
</head>
<body>
    <nav>
        <div class="main-nav container">
          <a href="/">
            <img src="./Assets/sslogo.png" alt="" class="logo-img">
          </a>
          <div class="nav-links">
            <ul class="link-items">
              <li><a href="/">About Us</a></li>
              <li><a href="SelfHelp">Self-help</a></li>
              <li><a href="Locate">Store Locator</a></li>
              <li><a href="PushDB">Query Submission</a></li>
              <li><a href="Sell">Request A Quote</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <section>
        <div class="container results">
            <div class="txt-results">
              <div class="f1">
                <img src="./Assets/Tf.png" alt="" width="100px">
                <h1>Your Predicted Price is: <%=FinalData%> </h1>
              </div>
            </div>
            
        </div>
      </section>
      <!-- footer -->
    
</body>
</html>