<!-- 
<html>
<head>
  <title>Search</title>
</head>
<body>
  <h1 >Search</h1>
  <form action="/search" method="GET">
    <input type="text" name="input" placeholder="Enter search query" required>
    <button type="submit">Search</button>
  </form>
</body>
</html>
 -->

 <!DOCTYPE html>
 <html lang="en">
 
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Self Help</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <script src="https://kit.fontawesome.com/6ad7fda697.js" crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="./Styles.css/selfhelp.css">
  
 </head>
 
 <body>
   <!-- navbar -->
   <nav>
     <div class="main-nav container">
       <a href="/">
         <img src="./Assets/sslogo.png" alt="" class="logo-img">
       </a>
       <div class="nav-links">
         <ul class="link-items">
           <li><a href="/">Home</a></li>
           <li><a href="SelfHelp">Self-help</a></li>
           <li><a href="Locate">Store Locator</a></li>
           <li><a href="PushDB">Query Submission</a></li>
           <li><a href="Sell">Request A Quote</a></li>
         </ul>
       </div>
     </div>
   </nav>
   <br>
   <br>
   <br>
   <br>
   <!-- query header -->
   <header>
     <div class="container query-section">
       <div class="query-left">
         <img src="./Assets/issue.png" alt="">
       </div>
       <div class="query-right">
         <h1>Facing An Issue?</h1>
         <br>
         <p>“ Enter Your Issue In The search Bar Below and get quick results related To Your Problem”</p>
         <br>
         <div class="searchbox">
           <form action="/search" method="">
             <input class="sinput" type="text" name="input" id="sea" placeholder="Enter search Search" required>
              </input>
             <button type="submit" class="an"></button>
           </form>
         </div>
       </div>
     </div>
   </header>
   <!-- footer -->
 </body>
 </html>