<!-- 
<html>
<head>
  <title></title>
</head>
<body>
 <h1>Locator</h1>
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.041079784065!2d79.1559336!3d12.9692232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad479f0ccbe067%3A0xfef222e5f36ecdeb!2sVellore%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1685598371569!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Self Help</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/6ad7fda697.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./Styles.css/locate.css">
</head>

<body>
  <!-- navbar -->
  <nav>
    <div class="main-nav container">
      <a href="/">
        <img src="./Assets/sslogo.png" alt="" class="logo-img">
      </a>
      <div class="nav-links">
        <ul class="link-items">
          <li><a href="/">Home</a></li>
          <li><a href="SelfHelp">Self-help</a></li>
          <li><a href="Locate">Store Locator</a></li>
          <li><a href="PushDB">Query Submission</a></li>
          <li><a href="Sell">Request A Quote</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <!-- query header -->
  <header>
    <div class="container query-section">
      <div class="query-left">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.914060090232!2d77.21574591409615!3d28.632337690842707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd16d1e52215%3A0x5c712d0e1379222!2sConnaught%20Place%20Market!5e0!3m2!1sen!2sin!4v1667021136456!5m2!1sen!2sin"
        class="map" width="450" height="290" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
      <div class="query-right">
        <h1>Locate A Nearby Store?</h1>
        <br>
        <p>“ Enter Your Issue In The search Bar Below and get quick results related To Your Problem”</p>
        <br>
        <div class="searchbox">
          <form action="#" method="">
            <input class="sinput" type="text" name="input" placeholder="Enter search Search" required>
            </input>
            <button type="submit" class="an"></button>
          </form>
        </div>
      </div>
    </div>
  </header>
  <br>
  <br>
  <br>
  <br>
  <!-- footer -->
  
</body>
</html>